<div class="my-auto font-extrabold leading-tight" style="font-size: 12vmin;">
    <p>{{localizationService.introductionContent.sectionHeader}}</p>
    
    <p class="w-fit" *ngIf="localizationService.currentLanguage == LANGUAGES.PORTUGUESE">{{localizationService.introductionContent.sectionBody}}</p>

    <h2 class="whitespace-nowrap" style="font-size: 12vmin; text-align: justify;" [@changed]="animationState">{{feature.tagName}}</h2>
    
    <p class="w-fit" *ngIf="localizationService.currentLanguage == LANGUAGES.ENGLISH">{{localizationService.introductionContent.sectionBody}}</p>
</div>