<header class="min-h-fit px-3 md:px-12 lg:px-24 2xl:px-[10%] bg-bAlmond">

  <div class="flex">
    <div class="text-black pt-6 pb-12 flex z-50">
      <div class="relative" style="writing-mode: vertical-lr;">
        <h1 class="whitespace-nowrap text-7xl lg:text-8xl font-light"><span class="font-medium">{{localizationService.headerContent.firstName}}</span> {{localizationService.headerContent.surname}}</h1>
        <h1 class="whitespace-nowrap absolute top-6 right-4 text-7xl lg:text-8xl font-medium text-transparent -z-10 select-none" style="-webkit-text-stroke: 1px black;"><span class="font-normal">{{localizationService.headerContent.firstName}}</span> {{localizationService.headerContent.surname}}</h1>
      </div>
    </div>
    <div class="py-6 w-full flex flex-col">
      <div class="ml-auto flex">
        <button class="border p-1 focus:outline-none transition-all {{localizationService.currentLanguage == 'en' ? 'bg-black border-black text-bAlmond' : 'border-neutral-600 text-neutral-600 hover:border-black hover:text-black'}}" (click)="changeLanguage('en')">EN</button>
        <button class="border p-1 focus:outline-none transition-all {{localizationService.currentLanguage == 'pt' ? 'bg-black border-black text-bAlmond' : 'border-neutral-600 text-neutral-600 hover:border-black hover:text-black'}}" (click)="changeLanguage('pt')">PT</button>
      </div>
  
      <div class="w-full my-auto text-center font-light pt-8" style="font-size: 6vmin;">
        <p>{{localizationService.introductionContent.sectionHeader}}</p>
        <h2 class="font-extrabold text-black" style="font-size: 12vmin;">{{feature.tagName}}</h2>
        <p *ngIf="localizationService.introductionContent.sectionBody">{{localizationService.introductionContent.sectionBody}}</p>
      </div>
  
      <article class="mt-auto pt-12">
        <div class="flex mb-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-info-square-fill mr-2 my-auto min-w-fit" viewBox="0 0 16 16">
            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.93 4.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
          </svg>
          <h2 class="text-3xl md:text-4xl font-medium">{{localizationService.aboutSectionContent.sectionHeader}}</h2>
        </div>
        <p>{{localizationService.aboutSectionContent.sectionBody}}</p>
      </article>

      <section class="text-black flex flex-wrap md:gap-2 lg:text-lg">
        <div class="flex mr-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-chevron-right mr-2 my-auto" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
          </svg>
          <p class="h-fit my-auto font-medium">{{localizationService.headerContent.contactText}}:</p>
        </div>
        <p class="italic h-fit my-auto font-light select-all">{{localizationService.headerContent.email}}</p>
      </section>

      <section class="flex justify-center pt-4 gap-8">
        <div class="text-neutral-600 transition-all hover:text-black">
          <a class="flex" [href]="GITHUB_PROFILE" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github my-auto mr-2" viewBox="0 0 16 16">
              <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
            </svg>
            Github
          </a>
        </div>
    
        <div class="text-neutral-600 transition-all hover:text-black">
          <a class="flex" [href]="LINKEDIN_PROFILE" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin my-auto mr-2" viewBox="0 0 16 16">
              <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
            </svg>
            Linkedin
          </a>
        </div>
      </section>
    </div>
  </div>
</header>