<section class="my-8">
  <div class="flex">
    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-folder-fill fill-white mr-2 my-auto min-w-fit" viewBox="0 0 16 16">
      <path d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3zm-8.322.12C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139z"/>
    </svg>
    <h2 class="text-white text-3xl md:text-4xl font-medium">{{projectsHeader}}</h2>
  </div>
  <div class="text-white mt-3">
    <div class="flex gap-2 flex-wrap mt-3">
      <button *ngFor="let uniqueLang of languages" class="p-1 max-w-fit rounded-lg transition-all {{uniqueLang.color}} {{uniqueLang.bgColor}} {{uniqueLang.outlineColor}} {{(uniqueLang.hasOutline) ? 'outline outline-2' : ''}} {{uniqueLang.hoverBgColor}}" (click)="onClick(uniqueLang.name)">{{uniqueLang.name}}</button>
      <button class="bg-slate-500/25 hover:bg-slate-500/75 transition-all min-w-[2rem] rounded-full" *ngIf="activeFilters.length > 0" (click)="clearFilters()">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="m-auto bi bi-x" viewBox="0 0 16 16">
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      </button>
    </div>
  </div>
  <p class="italic font-light text-white my-12 text-center" *ngIf="projects.length <= 0">{{emptyQuery}}</p>
  <a *ngFor="let project of projects" class="grid bg-neutral-900 rounded-lg min-w-min outline hover:outline-1 hover:outline-neutral-600 mt-5 transition-all"
     href="{{project.url}}" target="_blank">
    <div>
      <div class="absolute text-white text-xl ml-4 mt-1 font-bold flex">
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-code mr-2 my-auto" viewBox="0 0 16 16">
          <path d="M5.854 4.854a.5.5 0 1 0-.708-.708l-3.5 3.5a.5.5 0 0 0 0 .708l3.5 3.5a.5.5 0 0 0 .708-.708L2.707 8l3.147-3.146zm4.292 0a.5.5 0 0 1 .708-.708l3.5 3.5a.5.5 0 0 1 0 .708l-3.5 3.5a.5.5 0 0 1-.708-.708L13.293 8l-3.147-3.146z"/>
        </svg>
        {{project.name}}
      </div>
      <img src="{{project.image}}" class="rounded-t-lg w-full bg-cover object-cover" alt="web-page">
    </div>
    <div class="flex gap-2 p-2 flex-wrap">
      <div *ngFor="let lang of project.languages" class="p-1 {{lang.color}} {{lang.bgColor}} max-w-fit rounded-lg">{{lang.name}}</div>
    </div>
  </a>
</section>
