<section class="eventTimeline relative w-fit max-w-full pt-24 pb-12
before:absolute before:w-12 before:h-[95%] before:top-0 before:right-0 before:pointer-events-none before:z-50 before:bg-gradient-to-l before:from-black">
    <div class="max-w-fit overflow-x-scroll">
        <div class="relative gap-8 flex w-fit overflow-x-scroll pr-12">
            <hr class="absolute top-1/2 text-bAlmond w-full">
            <div *ngFor="let event of localizationService.eventList" class="border relative justify-center bg-black z-10 border-bAlmond rounded-full w-64 h-64">
                <div class="absolute flex flex-col justify-center w-full h-full">
                    <p class="text-center font-bold">{{event.header}}</p>
                    <p class="text-center italic font-light">{{event.description}}</p>
                    <p class="text-center">{{event.date}}</p>
                </div>
            </div>
        </div>
    </div>
</section>