<a *ngIf="projectInfo" href="{{projectInfo.url}}" target="_blank" class="quickFade flex flex-col text-black dark:text-white rounded-2xl relative">
  <div class="relative h-fit w-fit">
    <div class="rounded-full absolute z-10 bg-white/50 dark:bg-black/50 p-4 px-6 top-3 left-3 backdrop-blur-md text-lg" *ngIf="projectInfo.deployed">{{localizationService.deployedMessage}}</div>
    <img src="{{projectInfo.image}}" class="w-full bg-cover min-h-[20rem] md:min-h-[28rem] max-h-full object-cover brightness-75 rounded-2xl" [alt]="projectInfo.name + ' project image'">
  </div>
  <div class="p-2 py-3 z-10 w-fit">
    <p class="text-3xl font-bold">{{projectInfo.name}}</p>
    <p class="text-lg">{{projectInfo.type}}</p>
  </div>


  <!-- <div class="transition-all h-full w-full absolute">
    <div class="flex p-2 pl-20 flex-wrap gap-1 h-fit w-full justify-end">
      <p *ngFor="let tag of projectsService.getTagListFromNames(projectInfo.tags)" class="p-1 flex-shrink max-w-fit max-h-fit">{{tag.tagName}}</p>
    </div>
  </div> -->
</a>