@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url("./assets/fonts/Inter-VariableFont_opsz,wght.ttf");
}

* {
  font-family: 'Inter';
}

/*SCROLLBAR*/

*::-webkit-scrollbar {
  width: 0.30rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: theme(colors.bAlmond);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: theme(colors.tan);
}

/*ANIMATIONS*/

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

@keyframes downToUp {
  from {
    transform: translateY(15%);
  }
  
  to {
    transform: translateY(0%);
  }
}

@keyframes rightToLeft {
  from {
    transform: translateX(30%);
  }
  
  to {
    transform: translateX(0%);
  }
}

.eventTimeline {
  animation-name: downToUp, fade;
  animation-duration: 3s;
}

.nameSubtext {
  animation-name: rightToLeft, fade;
  animation-duration: 3s;
}

.slowFade {
  animation-name: fade;
  animation-duration: 3s;
}

.quickFade {
  animation-name: fade;
  animation-duration: 1s;
}

