<main class="slowFade mt-16">
  <h2 class="text-black dark:text-white mb-12 mx-6 font-bold text-4xl lg:text-5xl uppercase">{{ localizationService.skillsSectionContent.sectionHeader }}</h2>
  <div *ngFor="let event of localizationService.eventList" class="relative flex flex-col md:flex-row w-full h-fit">
    <div class="w-full min-h-full text-white">
      <div class="sticky font-bold top-2 px-8 pt-12 md:py-16 text-xl">
        <h3 class="text-black dark:text-white text-3xl md:text-4xl lg:text-5xl mb-4">{{event.header}}</h3>
        <p class="text-neutral-500">{{event.description}}</p>
        <p class="text-neutral-500">{{event.date}}</p>
      </div>
    </div>
    <div class="relative text-black dark:text-white w-full h-fit px-8 py-12 md:py-16 flex flex-col gap-8 md:text-lg">
      <p *ngFor="let point of event.bulletPoints">{{point}}</p>
    </div>
  </div>
</main>