<main>
  <div *ngFor="let event of localizationService.eventList" class="flex flex-col md:flex-row w-full h-fit">
    <div class="relative w-full min-h-full text-bAlmond">
      <div class="sticky top-2 p-8">
        <p class="text-4xl font-extrabold">{{event.header}}</p>
        <p>{{event.description}}</p>
        <p>{{event.date}}</p>
      </div>
      <div class="absolute w-full h-full top-0 right-0 -z-10 backdrop-blur-sm"></div>
      <img class="absolute w-full h-full top-0 right-0 -z-20 brightness-50 object-cover" [src]="'./assets/'+event.image">
    </div>
    <div class="bg-bAlmond w-full h-fit p-8 flex flex-col gap-5 text-sm">
      <p *ngFor="let point of event.bulletPoints">- {{point}}</p>
    </div>
  </div>
</main>